<ion-view title="Login">
  <ion-content class="has-header padding" scroll="false">
    <div id="signinButton" class="center-me">
      <span class="g-signin"
        data-scope="https://www.googleapis.com/auth/plus.login"
        data-clientid="243623987042-20jcc57di4ol4u36jr3cvidv66h0h6mi.apps.googleusercontent.com"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-callback="logIn">
      </span>
    </div>
    <!-- <div id="result"></div> -->
  </ion-content>
</ion-view>
