<ion-view title="Login">
  <ion-content class="has-header padding" scroll="false">
<!--     <div id="signinButton" class="center-me">
      <span class="g-signin"
        data-scope="https://www.googleapis.com/auth/plus.login"
        data-clientid="243623987042-ibvoulim8vu4ftgdmpra8son00jgbrj6.apps.googleusercontent.com"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-callback="logIn">
      </span>
    </div>
    <div id="result"></div> -->
    <button ng-click="auth()" class="button button-block button-positive">Login with Google</button>
  </ion-content>
</ion-view>
