<ion-view title="Map">
  <ion-nav-buttons side="left">
    <button class="button button-small button-outline button-positive" ng-click="getDirections()">Get My Route</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-small button-outline button-positive" ng-click="getDirections(clientLocation, true)">Get Route Now</button>
  </ion-nav-buttons>

  <ion-content class="has-header padding" scroll="true">
    <!-- <div class="row">
      <div class="col">
        <button class="button button-outline button-small button-positive" ng-click="getDirections()">Get My Route</button>
      </div>
      <div class="col">
        <button class="button button-outline button-small button-positive" ng-click="getDirections(clientLocation, true)">Get Route Now</button>
      </div>
      <div class="col">
        <label class="checkbox checkbox-royal">
          <input ng-click="showOrHideLayers()" type="checkbox">
          {{hideLayersButtonText}}
        </label>
      </div>
      <div class="col">
        <label class="checkbox checkbox-royal">
          <input ng-click="showOrHideWeather()" type="checkbox">
          {{hideWeatherButtonText}}
        </label>
      </div>
    </div> -->

    <div id="map"></div>

    <div class="row">
      <div class="col">
        <ul class="list">
          <li class="item item-checkbox slim-checkbox">
            <label class="checkbox checkbox-royal">
              <input ng-click="showOrHideLayers()" type="checkbox">
            </label>
            {{hideLayersButtonText}}
          </li>
        </ul>
      </div>
      <div class="col">
        <ul class="list">
          <li class="item item-checkbox slim-checkbox">
            <label class="checkbox checkbox-royal">
              <input ng-click="showOrHideWeather()" type="checkbox">
            </label>
            {{hideWeatherButtonText}}
          </li>
        </ul>
      </div>
    </div>

    <button ng-show="showDirectionsButton" class="button button-small button-block button-positive" ng-click="openModal()">
      Show Directions List
    </button>
  </ion-content>
</ion-view>

<script id="panel.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar>
      <button class="button button-small button-outline button-positive" ng-click="modal.hide()">Go Back</button>
      <h1 class="title">Directions</h1>
    </ion-header-bar>
    <ion-content class="padding">
      <div id="panel"></div>
    </ion-content>
  </div>
</script>
