<ion-view title="My Route">
  <ion-content class="has-header padding" scroll="true">
    <button class="button button-positive" ng-click="getDirectionOptions()">Show Route</button>
    <button class="button button-positive" ng-click="showLayers(markers, geolocations)">Show</button>
    <button class="button button-positive" ng-click="hideLayers(markers, polylines)">Hide</button>
    <button class="button button-positive" ng-click="showWeather()">Weather</button>
    <div id="map"></div>
  </ion-content>
</ion-view>
